<<<<<<< HEAD
.container {
    align-content:space-between;
}
=======
th {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: rgba(68, 106, 163, 0.904);
    font-size: 32px;
}
table {
    width: 100%;
}

.centered-cell {
    text-align: center;
  }
  .row-style {
    text-align: center;
  }
  .row-style td {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      padding-top:20px;
      padding-bottom:20px;
      border-top:solid 0.75px rgb(167, 167, 167);
  }

  tr:nth-child(even) {
    background-color: #667f97;
}
  
>>>>>>> 49194880ca54a86f7f10362201eb85a12d6001d9
