.Footy ul {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Footy li {
    display: inline-block;
    margin: 20px;
}

.Footy a {
    text-decoration: none;
    color: black;
}

.Footy a:hover,
.Footy a:active,
.Footy a.active {
    color: #fa923f;
    text-decoration: underline;
}