.container {
    display:flex;
    justify-content: space-evenly;
  }
  .boarder {
    border-style:solid 2px black;
    background-color: silver;
    display: block;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .flex-container {
    width:60%;
    flex-direction: row;
    justify-content: center;
    border:2px line;
  }
  
  .wrapper{
    width: 100%;
    text-align: center;
  }