.container {
    display:flex;
    justify-content: space-evenly;
  }

  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  

  .wrapper{
    width: 100%;
    text-align: center;
  }