.vs {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}
.home {
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}
.away {
    border: 1px solid green;
    float: left; /* add this */
}