.wrapper{
  position: fixed;
  width: 95%;
  height: 82%;
  display: flex;
  padding-left:500px;
}
.container {
    display: flex; /* or inline-flex */
    justify-content: space-around;
    padding-bottom:5px;
}
.panel {
  background-color: rgba(38, 44, 92, 0.726);
  height: 500px;
}
.item {
  flex-direction: column;
   flex-basis: auto; /* default auto */
}

.buttonStyle {
    background-color: #e7e7e7;
     color: black;
}

  .width {
    width: 500px;
  }